:root {
  --white: #ffffff;
  --white-transparent: rgba(255, 255, 255, 0.6);

  --gray: rgba(229, 229, 229, 1);

  --black: #000000;
  
  --primary: #E62429;
  --primary-transparent: rgba(230, 36, 41, 0.9);
}

@font-face {
  font-family: 'poppins-light';
  src: url('assets/fonts/Poppins-Light.ttf');
}

@font-face {
  font-family: 'poppins-medium';
  src: url('assets/fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'poppins-semi-bold';
  src: url('assets/fonts/Poppins-SemiBold.ttf');
}

body {
  margin: 0;
  font-family: 'poppins-medium', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
